body {
    background-color: #f0f8ff;   /* 背景色 */
    font-family: Arial, sans-serif;
    text-align: center;}
h1 {color: navy;}

p {  color: #333333;
    font-size: 18px;}

a { color: blue;
    text-decoration: none;
    font-weight: bold;}

a:hover { color: red;}

img { width: 300px;
    border-radius: 10px;
    border: 3px solid gray;}
